<div class="container">
    <alert-success [hidden]="!showMessageSuccess">
        The employee <strong>{{employee?.name}}</strong> was saved successfully!
    </alert-success>
    <alert-error [hidden]="!showMessageError">
        The employee has been deleted!
    </alert-error>
    <p >
    </p>
    <div class="row">
        <h1>Nossos funcionários</h1>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="5">
                            <button type="button" class="btn btn-primary" (click)="newEmployee()">New Employee</button>
                        </th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Bonus</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tr *ngFor="let employee of employees; let i=index" [id]="'tr'+i">
                    <!-- tag estrutural evitar "bambiarras como div, span etc.. "-->
                    <ng-container *ngIf="employee.salary > 1000; else cheapSalary">
                        <!-- <td>{{employee.name}}</td> -->
                        <!-- <td>{{employee.salary}}</td> -->
                        <td [innerHtml]="i"></td>
                        <td><a href="javascript:void(0)" (click)="openDetailModal(employee)">{{employee.name}}</a></td>
                        <!-- <td [style.color]="getSalaryColor(employee)"  [innerHtml]="employee.salary"></td> -->
                        <!-- <td [ngClass]="getSalaryColor(employee)" [innerHtml]="employee.salary"></td> -->
                        <td [innerHtml]="employee.salary | myCurrency" [salaryColor]="employee.salary" anotherValue="{{i}}"></td>
                        <td [innerHtml]="employee.bonus | myCurrency"></td>
                        <td class="mb-3">
                            <a href="javascript:void(0)" (click)="editEmployee(employee)">Edit</a>|
                            <a href="javascript:void(0)" (click)="destroyEmployee(employee)">Delete</a>
                        </td>
                    </ng-container>
                    <ng-template #cheapSalary>
                        <td [innerHtml]="i"></td>
                        <td><a href="javascript:void(0)" (click)="openDetailModal(employee)">{{employee.name}}</a></td>
                        <td [innerHtml]="employee.salary | myCurrency" [salaryColor]="employee.salary" anotherValue="{{i}}"></td>
                        <td [innerHtml]="employee.bonus | myCurrency"></td>
                        <td class="mb-3">
                            <a href="javascript:void(0)" (click)="editEmployee(employee)">Edit</a> | Can't delete
                        </td>
                    </ng-template>
                </tr>
            </table>
        </div>
    </div>
</div>


<!--  Serão carregados sob demanda para evitar processamentos prematuros -->
<employee-detail-modal [employee]="employeeToDetail"></employee-detail-modal>
<!-- <employee-new-modal employeeNewModal (onSubmit)="onNewEmployee($event)" (onHide)="opened($event)" (onShow)="closed($event)"></employee-new-modal> -->
<employee-edit-modal  #employeeEditModal [employee]="employeeToEdit" (onSubmit)="onEditEmployee($event)"></employee-edit-modal>
<employee-delete-modal [employee]="employeeToDelete" (onDestroy)="onDestroyEmployee($event)"></employee-delete-modal> 