    <form (submit)="add($event)">
        <modal>
            <h5 class="modal-title" modal-title>New Employee</h5>
            <div class="modal-body" modal-body>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3">
                                <!-- o componente altera o template-->
                                <!-- one way databind -->
                                <!-- <label>Nome</label>
                                <input type="text" [value]="name">
                                {{name}} -->
                            </div>
                            <!-- o componente altera o template e vice versa -->
                            <!-- two way databind -->
                            <div class="mb-3">
                                <label>Nome</label>
                                <input type="text" name="name" class="form-control" [(ngModel)]="employee.name">
                            </div>
                            <div class="mb-3">
                                <label>Salary</label>
                                <div class="input-group">
                                    <div class="input-group-text">R$</div>
                                    <input type="number" name="salary" class="form-control" [(ngModel)]="employee.salary">
                                </div>
                            </div>
                            <!-- <p *ngIf="salary < 1000"> -->
                            <div class="mb-3" [hidden]="!(employee.salary < 1000)">
                                <label>Bonus</label>
                                <div class="input-group">
                                    <div class="input-group-text">R$</div>
                                    <input type="number" name="bonus" class="form-control" [(ngModel)]="employee.bonus">
                                </div>
                            </div>
                           <!-- {{employee.name}}
                            <p is="Informação">{{employee.name}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" modal-footer>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="!(employee.salary > 0)" type="submit" class="btn btn-primary">Add</button>
            </div>
    </modal>
</form>